{% extends "base.html" %}

{% block title %}Announcements{% endblock %}

{% block content %}
    <ul>
        {% for announcement in announcements %}
            <a href="{% url 'notifydetail' announcement.pk %}">
                {{ announcement.user }}<br>
                {{ announcement.content }}<br>
                {{ announcement.createdAt }}<br>
            </a>
        {% endfor %}
    </ul>
     {% if user.is_staff %}
         <a href="{% url 'notifycreate' %}">Add Announcement</a>
     {% endif %}
{% endblock %}
