{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'base_css\base.css' %}" rel='stylesheet'>
    </head>
    <body>
        <div id='header'>
            <img class="logo" src="{%static 'img/NetScuela-icon.svg'%}">
            {% if request.user.is_authenticated %}
            <ul class='menu'>
                <li {% if section == "dashboard" %}class='selected'{% endif %}>
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                </li>
                <li {% if section == "Course Shells" %}class='selected'{% endif %}>
                    <a href="{% url 'course_list' %}">Course Shells</a>
                </li>
                <li {% if section == "Calendar" %}class='selected'{% endif %}>
                    <a href="{% url 'calendar' %}">Calendar</a>
                </li>
                <li {% if section == "To-do" %}class='selected'{% endif %}>
                    <a href="{% url 'todo_checklist' %}">To-do</a>
                </li>
                <li {% if section == "Announcement" %}class='selected'{% endif %}>
                    <a href="{% url 'notifylist' %}">Announcements</a>
                </li>
                <li {% if section == "Netscuela tweet" %}class='selected'{% endif %}>
                    <a href="{% url 'post_list' %}">NetScuela tweet</a>
                </li>
                <li {% if section == "Mail" %}class='selected'{% endif %}>
                    <a href="{% url 'mail' %}">Mail</a>
                </li>
                <li {% if section == "Account Settings" %}class='selected'{% endif %}>
                    <a href="{% url 'account_settings' %}">Account Settings</a>
                </li>

            </ul>
            {% endif %}

        </div>
        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>