{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'todo_checklist_css\todo_checklist.css' %}" rel='stylesheet'>
</head>

<body>
    <div id="checklist">
        <input type="checkbox" id="01" name="1" value="1" checked>
        <label for="01">OBJORPROG ACT 1</label>
        <input type="checkbox" id="02" name="1" value="2">
        <label for="02">OBJORPROG ACT 2</label>
        <input type="checkbox" id="03" name="1" value="3">
        <label for="03">OBJORPROG ACT 3</label>
    </div>
</body>
</html>
{% endblock %}